footer
    height: 260px
    background: url('img/bg_footer.png') repeat

    box-shadow: 0 -10px 0 rgba(0, 0, 0, 0.2)

.footer-horaires
    display: none
    +breakpoint(medium)
        display: block

.footer-coord, .footer-horaires, .footer-mentions
    +grid-col(6, 0)

    +breakpoint(medium)
        +grid-col(4, 0)


.footer-coord
    .grid-6
        // +grid-col(8, 0)
    .map
        margin: 0 auto
        background: #444
        width: 125px
        height: 125px

        border-radius: 50%

        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2)
