.pagination
    ul
        margin: 0
        padding: 0
        text-align: center
        list-style: none

    li
        display: inline-block
        margin: 0 5px 0
        width: 35px
        height: 35px

        +gradient(#3a3842, #302f34)

        border-radius: 6px
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1)

        transition: box-shadow .1s ease-in-out

        &:hover
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2)

        &.is-current
            color: $orange
            +gradient(#302f34, #3a3842)

            span
                line-height: 35px

            &:hover
                box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1)

            a
                cursor: default


    a
        display: block
        height: 100%
        width: 100%

        line-height: 35px
        color: $bluelight

        transition: color .1s ease-in-out

        &:hover
            color: $orange
