.posts-preview-container
    // +grid-row
    +grid-col(5,0)
    +grid-column-position(center)

    padding: 0 0 50px

    h2
        text-align: center
        margin-top: 100px

    &:last-child:not(:first-child)
        float: none



.posts-preview
    font-family: $fibon, sans-serif
    width: 100%
    padding: 0 0 60px 0
    margin: 0 0 60px 0

    border-bottom: 2px solid rgba(255, 255, 255, 0.1)

    // &:last-child
    &:last-of-type
        padding: 0 0 10px 0
        margin: 0 0 20px 0
        border-bottom: none
        +separate-mini(rgba(255, 255, 255, 0.1))

    p
        font: 1.1em/1.375em $fibon, sans-serif
        color: $bluelight

        a
            color: $orange
            transition: color .1s ease-in-out

        a:hover
            color: lighten($orange, 10%)
            text-decoration: underline

    h3
        margin: 20px 0 10px 0
        font: 1.375em/1.500em $fibon, sans-serif
        color: $bluelight

        transition: color .2s ease-in

        &:hover
            color: $orange

    img
        // width: 100%
        max-width: 100%
        margin: 0 auto
        display: block

    a.preview
        position: relative
        display: block
        width: 500px

        box-shadow: 10px 8px 0 rgba(0, 0, 0, 0.1)
        transition: box-shadow .2s ease-in-out

        overflow: hidden

    a.preview:hover
        box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.2)
        .more
            visibility: visible
            opacity: 1


            span
                transform: translate(-50%, -50%) scale(1)
                transition-delay: 0s



    .more
        position: absolute
        top: 0
        left: 0

        display: block
        width: 100%
        height: 100%

        opacity: 0
        visibility: hidden

        background: rgba(255, 255, 255, 0.45)

        transition: opacity .2s ease-in-out, visibility .2s ease-in-out

        span
            position: absolute
            top: 50%
            left: 50%

            display: block
            width: 50px
            height: 50px

            background: #302f34
            border-radius: 50%

            transform: translate(-50%, -50%) scale(0)

            transition:  transform .2s ease-in-out
            transition-delay: .1s
    svg
        position: absolute
        top: 50%
        left: 50%

        width: 35%
        height: 35%

        transform: translate(-50%, -50%)
