*,*::after, *::before, html, body
    box-sizing: border-box

html, body
    margin: 0

body
    // background: $dark

+foundation-typography()

a
    text-decoration: none

section
    min-height: 100vh

.cf::after
    content: ''
    display: table
    clear: both

.link-hide
    display: none

section.demo
    background: $whitemiddle

$fontSize : rem-calc(74, 16)
$lineHeight : rem-calc(100, 16)

.title-intro
    position: relative
    height: 100vh
    background: url('img/bg_section1.png') repeat

    h1
        +absolute-center
        width: 100%
        text-align: center

        font-family: $brusher, serif
        font-size: 60px
        line-height: 80px
        color: #FFF
        text-transform: uppercase
        span
            color: $orange

        +breakpoint(medium)
            font-size: $fontSize
            line-height: $lineHeight

.overlay
    position: fixed
    top: 0
    left: 0

    width: 100%
    height: 100%

    background: #000
    // opacity: 0.6
    cursor: pointer

    display: none
    opacity: 0

    z-index: 100

.content
    background: #302f34

.wrap
    +grid-row
