
// ------------------------------------------------------
// POLICES -- FONT FACE
// ------------------------------------------------------

@font-face
    font-family: 'fibon_sansthin'
    src: url('fonts/fibon_sans_regular-webfont.eot')
    src: url('fonts/fibon_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/fibon_sans_regular-webfont.woff2') format('woff2'), url('fonts/fibon_sans_regular-webfont.woff') format('woff'), url('fonts/fibon_sans_regular-webfont.ttf') format('truetype'), url('fonts/fibon_sans_regular-webfont.svg#fibon_sansthin') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'brusherregular'
    src: url('fonts/brusher-regular-webfont.eot')
    src: url('fonts/brusher-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/brusher-regular-webfont.woff2') format('woff2'), url('fonts/brusher-regular-webfont.woff') format('woff'), url('fonts/brusher-regular-webfont.ttf') format('truetype'), url('fonts/brusher-regular-webfont.svg#brusherregular') format('svg')
    font-weight: normal
    font-style: normal



$fibon : 'fibon_sansthin'
$brusher : 'brusherregular'


// ------------------------------------------------------
// Breakpoints -- Responsive
// ------------------------------------------------------




// ------------------------------------------------------
// NUANCIER -- COLOR
// ------------------------------------------------------
$whitecreme : #F2EDE4
$whitemiddle : #D9D1C7
$greylight: #8C8681
$grey : #646464
$darken : #666A73
$dark : #2F3540

$orange: #db771f
$red: #9b3221
$bluelight: #edeaf9
