// Classes
.text-center
    text-align: center



// Mixins
=after-title($color: $orange)
    position: relative
    margin-bottom: 50px
    &::after
        content : ''
        position: absolute
        bottom: -25px
        left: 50%

        display: block
        width: 15px
        height: 4px

        background: $color

        transform: translate(-50%, -50%)

=separate-mini($color: $red)
    position: relative
    margin-bottom: 50px
    &::after
        content : ''
        position: absolute
        bottom: -25px
        left: 50%

        display: block
        width: 30px
        height: 4px

        background: $color

        transform: translate(-50%, -50%)

=gradient($from-color, $to-color)
    background-color: mix($from-color, $to-color)
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color))
    background-image: -webkit-linear-gradient(top, $from-color, $to-color)
    background-image:    -moz-linear-gradient(top, $from-color, $to-color)
    background-image:     -ms-linear-gradient(top, $from-color, $to-color)
    background-image:      -o-linear-gradient(top, $from-color, $to-color)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')"
